.mainContainer {
  margin: 0 6rem;
}
.searchBar {
  height: 4.2rem;
}
.searchBar .searchInput, .recipeCardText {
  background-color: #E7E7E7;
}
.searchBar .searchInput::placeholder {
  opacity: 0.5;
}
.mainContainer .searchBar .fa-search {
  z-index: 10;
}
.recipeCard {
  width: 24rem;
  height: 23rem;
}
.recipeCard img {
  object-fit: cover;
}
.recipeCardTime {
  text-transform: lowercase;
}
.fa-clock {
  font-size: 1.2rem;
}
.recipeCardContent {
  font-size: 12px;
  line-height: 14.4px;
}
.cardTimeContainer {
  white-space: nowrap;
  align-self: start;
}
.ellipsis {
  text-overflow: ellipsis;
  word-wrap: nowrap;
  overflow: hidden;
  max-height: 125px;
  display: -webkit-box;
  -webkit-line-clamp: 8; 
  -webkit-box-orient: vertical;
}