html {
  font-family: Lato, system-ui, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  scroll-behavior: smooth;
}
:root {
  font-family: Lato, system-ui, "Helvetica Neue", Arial, sans-serif;
}
.mainContainer {
  margin: 0 6rem;
}
.searchBar {
  height: 4.2rem;
}
.searchBar .searchInput, .recipeCardText {
  background-color: #E7E7E7;
}
.searchBar .searchInput::placeholder {
  opacity: 0.5;
}
.mainContainer .searchBar .fa-search {
  z-index: 10;
}
.recipeCard {
  width: 24rem;
  height: 23rem;
}
.recipeCard img {
  object-fit: cover;
}
.recipeCardTime {
  text-transform: lowercase;
}
.fa-clock {
  font-size: 1.2rem;
}
.recipeCardContent {
  font-size: 12px;
  line-height: 14.4px;
}
.cardTimeContainer {
  white-space: nowrap;
  align-self: start;
}
.ellipsis {
  text-overflow: ellipsis;
  word-wrap: nowrap;
  overflow: hidden;
  max-height: 125px;
  display: -webkit-box;
  -webkit-line-clamp: 8; 
  -webkit-box-orient: vertical;
}
.filterContainerWrapper div:not(:first-child) {
  margin-left: 1.5em;
}
.filterContainer {
  min-width: 170px;
  height: 69px;
}
.openedFilter {
  background: transparent;
  color: rgba(0, 0, 0, 0.65);
  border: none;
}